---
import Layout from '../layouts/Layout.astro';
import PelisController from '../classes/PelisController'
import FilmCard from '../components/FilmCard.astro'

const pelisController = new PelisController();

const items = await pelisController.getAll();
---
<Layout>

    <h1>Cartelera de películas</h1>

</Layout>
