---
import Layout from "../layouts/Layout.astro";
import PelisController from "../classes/PelisController";
import FilmCard from "../components/FilmCard.astro";

const pelisController = new PelisController();

const dadesPeli = await pelisController.getAll();
const pelis = dadesPeli.list;
---

<Layout>
    <h1>Cartelera de películas</h1>
    <div class="row">
        {pelis.map((peli) => <FilmCard id={peli.Id} />)}
    </div>
    
</Layout>
