---
import PelisController from "../classes/PelisController";
console.log(Astro.props)
const { id } = Astro.props;
console.log(id)
const pelisController = new PelisController();
const dadesPelis = await pelisController.getItemById(id);
const pelis = dadesPelis.list;
pelis.map(peli => console.log(peli.Id))
---

<div class="col-3">
    <div class="customCard">
        <div class="card" style="width: 18rem;">
            <img src={pelis.image} class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">{pelis.title}</h5>
                <p class="card-text">
                    {pelis.plot}
                </p>
                <a href={pelis.Id} class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
